{% extends "::base.html.twig" %}

{% block body %}
	<ul>
	   {% for weather in informations %}
	    <li>
	        <label>{{ weather.Description }}</label>
	        <img src="{{weather.PictureURL}}"/>
	    </li>
	
	   {% endfor %}
	</ul>
{% endblock %}


